<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container">
        <p class="title">{{ .Title }}</p>
        <p class="subtitle">{{ .Date.Format "Jan 2, 2006" }}</p>

        {{ partial "toc.html" . }}
        
        <div class="content">
          {{ .Content }}
        </div>

        {{ partial "gitinfo.html" . }}
        {{ partial "taglist.html" . }}
      </div>

    </section>

    <section class="section">
      <!-- Pagination -->
      {{ partial "pagination-single-all.html" . }}

      <br>

      <!-- Page sharing links -->
      {{ partial "share.html" . }}

      <br>
        <div class="container">
          <div id="disqus_thread"></div>
          <script>
          var disqus_config = function () {
          this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://baywet.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      <br>

      <!-- Related list -->
      {{ partial "relatedlist.html" . }}
    </section>

    {{ partial "footer.html" . }}
    <script id="dsq-count-scr" src="//baywet.disqus.com/count.js" async></script>
  </body>

</html>
