<!DOCTYPE html>
<html lang="{{.Language}}" dir="ltr" itemscope itemtype="https://schema.org/DefinedTerm">
  {{ $.Scratch.Set "titleoverride" (delimit (slice .Site.Params.postsWithTag .Title ) " ") }}
  {{ $.Scratch.Set "descriptionoverride" (delimit (slice .Site.Params.postsWithTag .Title ) " ") }}

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container" style="min-height:56vh">
        <h1 class="title">{{ $.Scratch.Get "titleoverride" }}</h1>
        <ul>
        {{- $data := .Data }}
        {{- range $key, $value := sort .Data.Pages "Title" "asc" }}
        <article class="media">
          <div class="media-content">
            <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            <p class="subtitle is-flex" style="justify-content:space-between">
            </p>
          </div>
        </article>
        
        {{- end }}
        </ul>
      </div>

    </section>

    {{ partial "footer.html" . }}

  </body>

</html>
